{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="articles">
    
        <h1 class="test">Bienvenue a mon SymBlog</h1>

        {% for art in articles %}
            <div class="art">
                <h3 class="sousTitre">{{art.title}} <span><h5 class="cat">Catégorie : {{art.category.title}}</h5></span> </h3>
                <p>{{art.content}}</p>
                <a href="{{path('art-detail', {'id': art.id}) }}" class= "btn btn-success">Détail</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
