h1.test{
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
}
.articles{
    background-color: rgb(255, 190, 85);
    padding: 0px 10%;
}

.art{
    margin: 20px 0px;
    padding: 10px 50px;
    background-color: rgb(3, 4, 5);
}

