.contenu{
    background-color: rgb(109, 110, 110);
    color: rgb(251, 246, 239);

}

.blue{
    color: rgb(38, 79, 119);
}

h1.test{
    font-weight: bold;
    text-align: center;
    padding: 2% 0px;
    color: rgb(38, 79, 119);

}
.sousTitre{
    text-align: center;
    margin-bottom: 2%;
}
.articles{
    padding: 0px 20%;
}

.art{
    margin: 30px 0px;
    padding: 20px 50px;
    background-color: rgb(38, 79, 119);
    border-radius: 10px;
}
p{
    font-size: 1.2em;
}

.cat{
    font-size: 1.2;
    font-weight: bold;
    color: rgb(236, 116, 230);
}

.btn-co{
    margin-top: 20px;
}

